<div id="stopper" class="row">
    <table id="report" cellspacing="20">
        <tr>
            <td ng-repeat="i in reportSlots">
                <span class="report-char">
                    {{seqEntered.charAt(i)}}
                </span>
            </td>
        </tr>
    </table>
</div>
<div id="keyboard" >
    <button ng-repeat="k in reportKeys" class="keyboard" ng-click="rpress(k)">{{k}}</button>
    <button class="keyboard" ng-click="rpress('fixone')"> &lt;x</button>
    <button class="button-stop keyboard" ng-click="rpress('clear')">C</button>
    <button class="button-go keyboard" ng-disabled="seqEntered.length != distractorLength" ng-click="rpress('done')">done</button>
</div>    
    
